/*-- REUSABLES
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/

.blue{
  background-color: #03a9f4;
}

.blue-1{
  background-color: #4fc3f7;
}

.white-text{
  color: #fff;
}

.spaced{
  letter-spacing: 1rem;
}
.spaced-1{
  letter-spacing: .5rem;
}


/*-- CUSTOMS
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/

a{
  text-decoration: none;
  transition: color .5s;
}
a:hover{
  color: #1de9b6;
}
html, body{
  height: 100%;
}

.container{
  min-height: 100%;

  width: 100%;

}



.title{
    padding-top: 10rem;
  font-size: 54pt;
}
.blurb{
  margin-top: -1.5rem;
  font-size: 12pt;

}

form{
  margin-top: 5rem;
  display: block;
}

label{
  font-weight: 0;
}

select{
  color: #fff;
  border: 1px solid #fff;
}

#or{
  margin-top: 3rem;
  font-size: 12pt;
  text-align: center;
}

input[type="text"]{
  border: 1px solid #fff;
  color: #fff;
  background-color: #03a9f4;
  transition: border .5s;
}
input[type="text"]:focus{
  border: 1px solid #1de9b6;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity: .66;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: .66;
}

input.button{
  border: 1px solid #fff;
  letter-spacing: .5rem;
  color: #fff;
  transition: border .5s, color .5s;
}

input.button:hover{
  border: 1px solid #1de9b6;
  color: #1de9b6;
}


footer{
  padding-top: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  font-size: 10pt;
  height: 78px;

}
footer a {
  color: white;
}
#taskCols{
  margin-bottom: 1rem;

}
#taskCols :nth-child(2){
  margin-left: 0;
}

.box{
  border: 1px solid #fff;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 1rem;
  float: left;
    cursor: pointer;

}
.box-fill{
    border: 1px solid #fff;

  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 1rem;
  float: left;
  background-color: #fff;

}

.del{
  color: white;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
.task{
  margin-bottom: 1rem;
  opacity: 0;
  transition: opacity .5s;
}
div.box{
visibility: hidden;
}


/*-- datePicker
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.ui-datepicker {
  width: 325px;
  height: auto;
  margin: 5px auto 0;
  background-color: #03a9f4;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 5px 10px 5px 10px;

  }

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker a {
  text-decoration: none;
  color: #fff;
}

.ui-datepicker-header{
color: #fff;
  letter-spacing: .2em;
  font-size: 8pt;
  line-height: 2rem;
  margin-bottom: -1rem;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 8pt;

}

.ui-datepicker-prev{
  float: left;

}

.ui-datepicker-next{
  float: right;
}


.ui-datepicker th{
  color: #fff;
  font-size: 8pt;
    padding: 5px 0;

}

.ui-datepicker tbody td {
  padding: 0px;
  margin: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;;
  text-align: center;
  width: 30px;
  height: 30px;
}

.actionButton{
  display:none;
}

.toast{
  display: none;
  background-color: #fff;
  height: auto;
  width: 100px;
  font-size: 12pt;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  color: #4fc3f7;
}


/*-- MOBILE
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*general*/
@media only screen and (max-width: 1100px) {
.title{
    padding-top: 0;
  }
  .container{

    height: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .blurb{
    margin-bottom: 2rem;
  }

  div #taskCols{
    letter-spacing: 0;
    font-size: 10pt;
  }

  div #taskCols *{
    margin-right: 1rem;
    width: auto;
  }

  #taskhead{
    float: left;
  }
  .head-right{
    text-align: right;
    float: right;
  }
  .head-right *{
    display: inline-block;
    margin-right: 10px;
  } 

  #results{
    font-size: 10pt;
    height: auto;

  }

  #personresult{
    margin-right: 10px;
    width: auto;
  }
  #dateresult{
    width: auto;
    margin-right: 10px;
  }
  #taskresult{
    width: auto;
  }

  /*have to remove in mobile because of bugs from either rendering issues with browsers or skeletoncss*/
  select, #or, #selectlabel{
    display:none;
  }


  form .column, .columns{
    width: 100%;
  }
  form {
    display:none;

  }
  .actionButton{
    display:inline-block;
    position: fixed;
    z-index: 100;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid #fff;
    right: 0;
    bottom: 0;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    text-align: center;
    font-size: 8rem;
    line-height: 5rem;
  }

  #cancel{
    text-align: center;
    border: 2px solid red;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: red;
    font-size: 4rem;
    line-height: 4rem;
    margin-left: calc(50% - 25px);
  }
}

/*tablet*/
@media only screen and (max-device-width: 1024px) and (orientation: landscape){

}

/*phone*/
@media only screen and (max-device-width: 768px) {
  .title{
    padding-top: 0;
  }
  .container{

    height: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .blurb{
    margin-bottom: 2rem;
  }

  div #taskCols{
    letter-spacing: 0;
    font-size: 10pt;
  }

  div #taskCols *{
    margin-right: 1rem;
    width: auto;
  }

  #taskhead{
    float: left;
  }
  .head-right{
    text-align: right;
    float: right;
  }
  .head-right *{
    display: inline-block;
    margin-right: 10px;
  } 

  #results{
    font-size: 10pt;
    height: auto;

  }

  #personresult{
    margin-right: 10px;
    width: auto;
  }
  #dateresult{
    width: auto;
    margin-right: 10px;
  }
  #taskresult{
    width: auto;
  }

  /*have to remove in mobile because of bugs from either rendering issues with browsers or skeletoncss*/
  select, #or, #selectlabel{
    display:none;
  }


  form .column, .columns{
    width: 100%;
  }
  form {
    margin-top: 0;
    display:none;

  }
  .actionButton{
    display:inline-block;
    position: fixed;
    z-index: 100;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid #fff;
    right: 0;
    bottom: 0;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    text-align: center;
    font-size: 8rem;
    line-height: 5rem;
  }

  #cancel{
    text-align: center;
    border: 2px solid red;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: red;
    font-size: 4rem;
    line-height: 4rem;
    margin-left: calc(50% - 25px);
  }

}